# Python
__pycache__/
*.py[cod]
.venv/
.env
.env.*

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Secrets
secrets/
credentials/
*.key
*.pem

# Node
node_modules/

# Build
dist/
build/

# Coverage
.coverage
htmlcov/

# Database
*.sqlite3

# Temporary
tmp/
temp/